{% extends "layout.html" %}
<!-- title -->
{% block title %}Bullseye - Login{% endblock %}
<!-- logo block -->
{% block page %}
<div style="display: flex; justify-content: center;">
    <img src='https://svgshare.com/i/15UA.svg' title='bullseye' border="0" width="240" height="125">
</div>
{% endblock %}

{{ super() }}
{%block style%}
    

{%endblock%}

{% block content %}

<div class="box-form">
	<div class="left">
		<div class="overlay">
			<h2 style="color: white;">Bullseye - A Classic Bulls And Cows Game</h2>
		</div>
	</div>
	
	
		<div class="right">
		<h5 style="font-size: 28px;">Welcome Back!</h5>
        <br>
        <form class="login-card" method="POST" action="/login" >			
            <input placeholder="Username" value="bob" name="username" type="text" class="validate" required>
			<br>
			<input placeholder="Password"value="bobpass" name="password" type="password" class="validate" required>
			<br>
            <br>
			<button type="submit">Login</button>
        </form>
		<p>Don't have an account? <a href="/signup">Create Your Account</a> - it takes less than a minute...</p>
		
			<br><br>
			
			
	</div>
	
</div>

            
{% endblock %}