<!doctype html>
<html>
  <head>
  
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
     <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Browser favicon-->
    <link rel="icon" href="https://svgshare.com/i/15UP.svg" type="image/svg+xml">
    <link rel="alternate icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}{% endblock %}</title>

  </head>
  <body>
    
      <nav class="nav-container">
          <div class="nav-wrapper">
           
              <table class = nav-wrapper>
                <tr>
                  <td>
                    <a  href="#!">{% block page %}{% endblock %}</a>  
                    
                  </td>
                  {%if  is_authenticated %}
                    <td>
                      <form method="GET" action="/play" style="height: fit-content;">
                        <button class="nav-button active">Play</button>
                      </form>
                    </td>
                    <td>
                      <button class= "nav-button">Leaderboard</button>
                    </td>
                    <td>
                      <button class="nav-button">My History</button>
                    </td>
                    <td>
                      <form method="GET" action="/logout" style="height: fit-content;">
                        <button>
                          <img src="https://as1.ftcdn.net/v2/jpg/03/46/83/96/1000_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg" border="0" width="64" height="64">
                        </button>
                      </form>
                    </td>
                    {%endif%}
                  </tr>
              </table>
          
                  
          </div>
          
      </nav>

      <style>
          .navbar-form label {
              color: white !important;
          }
         
          .nav-container{
            background-image: linear-gradient(135deg, #680412 10%, #f21616 100%) ;
            width: auto;
            height: fit-content;

          }
      </style>


<div>{% block content %}{% endblock %}</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
       M.AutoInit();

        {% with messages = get_flashed_messages() %}
          {% if messages %}
              {% for message in messages %}
              M.toast({html: '{{message}}'})
              {% endfor %}
          {% endif %}
        {% endwith %}
       
    </script>
  </body>
</html>
