{% extends "layout.html" %}
{% block title %}Bullseye{% endblock %}
<!-- logo block -->
{% block page %}
<div style="display: flex;">
    <img src='https://svgshare.com/i/15UA.svg' title='bullseye' border="0" width="240" height="125">
</div>
{% endblock %}

{{ super() }}
{%block style%}


{%endblock%}
{% block content %}
<script>
  

    
</script>

<style>
    body {
        font-family: Arial, sans-serif;
    }

    h2 {
        text-align: center;
        color: white;
    }

    form {
        text-align: center;
        margin-top: 0px;
        font-size: 30px;
        font-weight: bold;
    }

    .input-row {
        margin-bottom: 10px;
        text-align: center;
    }

    .input-box {
        display: inline-block;
        width: 80px;
        height: 80px;
        line-height: 80px;
        text-align: center;
        margin: 5px;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: white;
        color: black;
        font-weight: bold;
        font-size: 44px;
        text-align: center;
    }

    

    input[type="submit"] {
        padding: 10px 20px;
        cursor: pointer;
        margin-top: 13px;
        background-color: #F21616;
        color: white;
        border: none;
        border-radius: 4px;
        font-size: 24px;
        margin-top: 10px;
        font-weight: bold;
    }

    input[type="submit"]:hover {
        background-color: white; /* white background  */
        color: black; /* black text */
    }
    



    .bulls-cows-table {
        margin-top: 30px;
        width: 95%; /* Adjust this value as needed */
        margin-left: auto;
        margin-right: auto;
        border-collapse: collapse;
        color: white;
    }
    
    .bulls-cows-table th, .bulls-cows-table td {
        border: 1px solid #ccc;
        padding: 25px; /* larger cells */
        text-align: center;
        font-size: 30px; /*larger text */
        color: white;
        font-weight: bold;
    }
    
    .bulls-cows-table th {
        background-color: #F21616;
        color: white;
    }

    
    
</style>

<div class="container">
    <div class="row">
        <div class="col s9">
            {%if w_l == 1%}
            <h2> Congrats you win</h2>
            {%endif%}
            {%if w_l == 0%}
            <h2>Guess the Number:</h2>
            {%endif%}
            {%if guesses%}
                {%for guess in guesses%}
                <div class="input-row">
                    <div class="input-box">{{guess.digit1}}</div>
                    <div class="input-box">{{guess.digit2}}</div>
                    <div class="input-box">{{guess.digit3}}</div>
                    <div class="input-box">{{guess.digit4}}</div>
                </div>
                {%endfor%}
            {%endif%}
            <form action="/submit_guess" method="POST">
                <div class="input-row">
                    <div class="input-box"><input type="number" id="guess1" name="guess1" min="0" max="9" value="0" required></div>
                    <div class="input-box"><input type="number" id="guess2" name="guess2" min="0" max="9" value="0" required></div>
                    <div class="input-box"><input type="number" id="guess3" name="guess3" min="0" max="9" value="0" required></div>
                    <div class="input-box"><input type="number" id="guess4" name="guess4" min="0" max="9" value="0" required></div>
                </div>
                <!-- submit and forfeit -->
                <input type="submit" value="Submit">
                
            </form>
            <form action="/forfeit" method = "POST">
                <input type="submit" value="Forfeit">
                </form>
        </div>
        <div class="col s1">
            <div class="vertical-separator"></div>
        </div>
        <!-- table bulls and cows -->
        <div class="col s2">
            <table class="bulls-cows-table">
                <thead>
                    <tr>
                        <th>Bulls</th>
                        <th>Cows</th>
                    </tr>
                </thead>
                <tbody>
                    {%if guesses %}
                    {%for guess in guesses%}
                    <tr>
                        <td>{{guess.bulls}}</td>
                        <td>{{guess.cows}}</td>
                    </tr>
                    {%endfor%}
                {%endif%}
                </tbody>
            </table>
        </div>
       
    </div>
</div>
{% endblock %}




