{% extends "layout.html" %}
{% block title %}Bullseye{% endblock %}
{% block page %}<img src="https://i.ibb.co/3NW6ynP/Screenshot-2024-04-08-174700-removebg-preview.png" alt="Screenshot-2024-04-08-174700-removebg-preview" border="0" width="320" height="128">{% endblock %}

{{ super() }}
{%block style%}


{%endblock%}

{% block content %}

<div class="box-form">
    <div class="left">
        <div class="overlay">
            <h2 style="color: white;">Bullseye A Classic Bulls And Cows Game</h2>
        </div>
    </div>
    <div class="right">
        <h2>Create Your Account</h2>
        <br>
        <form class="signup-card" method="POST" action="/signup">
            <input placeholder="Username" name="username" type="text" class="validate" required>
            <br>
            <input placeholder="Password" name="password" type="password" class="validate" required>
            <br>
            <br>
            <button type="submit">Signup</button>
        </form>
        <p>Already have an account? <a href="/back">Login Here</a></p>
    </div>
</div>

{%endblock%}
