{% extends "layout.html" %}
{% block title %}Bullseye{% endblock %}
<!-- logo block -->
{% block page %}
<div style="display: flex;">
    <img src='https://svgshare.com/i/15UA.svg' title='bullseye' border="0" width="240" height="125">
</div>
{% endblock %}
{{ super() }}
{%block style%}


{%endblock%}

{% block content %}

<div class="box-form">
    <div class="left">
        <div class="overlay">
            <h2 style="color: white;">Bullseye A Classic Bulls And Cows Game</h2>
        </div>
    </div>
    <div class="right">
        <h2>Create Your Account</h2>
        <br>
        <form class="signup-card" method="POST" action="/signup">
            <input placeholder="Username" name="username" type="text" class="validate" required>
            <br>
            <input placeholder="Password" name="password" type="password" class="validate" required>
            <br>
            <br>
            <button type="submit">Signup</button>
        </form>
        <p>Already have an account? <a href="/">Login Here</a></p>
    </div>
</div>

{%endblock%}
